@page "/profile"
@using Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager Nav
@inject ProtectedSessionStorage Storage

<h3>Profile</h3>

@if (user == null)
{
    <p>You are not logged in</p>
}
else
{
    <p>Username: @user.username</p>
    <p>Email: @user.email</p>
    <p>Admin: @user.IsAdmin</p>

    @if (UserSongs.Count == 0)
    {
        <p>No songs uploaded</p>
    }


    else
    {
        <h1> Uploaded Songs: </h1>
        @foreach (Song songs in UserSongs)
        {
            <p> @songs.title </p>
            <audio controls src="@songs.GetAudioSource(songs.audioData)"></audio>

        }

    }
    <button @onclick="Logout">Logout</button>
}

@code
{
    User user;
    List<Song> UserSongs = new List<Song>();

    protected override async Task OnAfterRenderAsync(bool firstbool)
    {
        var result = await Storage.GetAsync<User>("user");
        if (result.Success)
        {
            user = result.Value;
            StateHasChanged();
            DBL.SongDB songDB = new DBL.SongDB();
            UserSongs = await songDB.SelectSongsByUserIDAsync(user.userid);
        }
    }

    async Task Logout()
    {
        await Storage.DeleteAsync("user");
        Nav.NavigateTo("/login");
    }
}
